.example-card {
    max-width: 800px;
    display: block;
    margin: 0 auto;
  }
  
  .example-header-image {
    background-image: url('https://i.pinimg.com/736x/38/bc/8c/38bc8cb04c0b6eb456f00fbfe3f37d4e.jpg');
    background-size: cover;
  }