<div class="logo text-center">
    <img width="300" src="assets/logo.png" alt="">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Bejelentkezés</h1>
                    <h6></h6>
                </div>
                <form [formGroup]="loginform" (ngSubmit)="login()">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email cím</label>
                        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Jelszó</label>
                        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                      </div>
                      <button type="submit" class="btn btn-primary" mat-raised-button color="accent">Bejelentkezés</button>
                      <button style="float: right;" type="submit" class="btn btn-primary" routerLink="/register" mat-raised-button color="accent">Regisztrációhoz</button>
                </form>
                
            </div>
        </div>
    </div>
</div>